<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="images/alertLogo.png" >
        <h2 class="h2">Real-Time Crime Alerts <small class="d-none">🛡️</small></h2>
        <p>Get notifications at all times of crime reports both near and far away from you.</p>
    </div>
    <div class="col-lg-4">
        <img src="images/heatMapLogo.png" >
        <h2 class="h2">Crime Heatmaps <small class="d-none">🚀</small></h2>
        <p>Easily see where the crime happens most of the time and avoid them! Users can see the color grade to determine how
            dangerous an area can be.
        </p>
    </div>
    <div class="col-lg-4">
        <img src="images/anonymousLogo.png" >
        <h2 class="h2">Anonymous Reporting <small class="d-none">📈</small></h2>
        <p>Do not be afraid for doing the right thing! Users can report incidents anonymously without facing any threats.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Safe Public Transportation Routes <small class="d-none">🦉</small></h2>
        <p> 
            Have a quick and convenient access to public transportation schedules and routes while also avoiding dangerous areas.
        </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Historical Crime Data <small class="d-none">✨</small></h2>
        <p>Users can see what type of crimes have been committed, how recent and how often.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Safe Location Suggestions <small class="d-none">🧰</small></h2>
        <p>Verified locations that are safe for various activities. Users can rate and recommend places!</p>
    </div>
</div>
